#chartdiv {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
.QualityAssuranceBoxes {
  width: 95%;
  margin: 20px auto 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  .QualityAssuranceBox {
    display: flex;
    text-align: center;
    gap: 10px;
    flex-direction: column;
    width: 47%;
    height: 160px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    align-items: center;
    justify-content: center;
  }
}
