.chart-tutorial-Container {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 50px 50px 0 0;
  .chart-tutorial {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 25px auto;

    .chart-card {
      margin-top: 25px;

      h2 {
        font-size: 1.5rem;
        color: #333;
        margin-bottom: 10px;
      }
      span {
        font-weight: 900;
        color: #333;
        margin-left: 5px;
      }
      p {
        font-size: 1rem;
        color: #666;
        text-align: center;
      }
    }
  }
  .backToGuidanceBtn {
    background: none;
    border: none;
    margin: 20px auto 0;
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background-color: #452c63;
    align-self: self-end;
    display: block;
    width: 50%;
    margin: 20px auto 0;
    padding: 12px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
