.support-container {
  width: 100%;
  background-color: #452c63;
  margin: 0 auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .GuidanceCompWrapper {
    padding-top: 30px;
    background-color: #fff;
    border-radius: 50px 50px 0 0;
    display: flex;
    flex-direction: column;
    .row-title {
      text-shadow: 0px -2px 14px rgba(69,44,99,0.6);
      color: #452c63;
      width: 90%;
      margin: 0 auto;
      font-size: 16px;
      font-weight: 900;
    }

    .row {
      width: 90%;
      margin: 0 auto;
      display: flex;
      gap: 1rem;

      &.row-1,
      &.row-3 {
        justify-content: center;
      }
      &.row-3{
      gap: 10px;

      }

      &.row-2 {
        justify-content: center;
      }

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        background-color: #452c63;
        color: #fff;
        padding: 1rem;
        border-radius: 10px;
        text-align: center;
        margin: 10px 0;
        width: 45%;
        cursor: pointer;

        .icon {
          font-size: 25px;
          margin-bottom: 0.5rem;
        }
        p {
          font-size: 14px;
        }
        &.chartsBox {
          background-color: #6794dc;
        }
        &.dataBox {
          background-color: #67b7dc;
        }

        &.large-box {
          width: 90%;
          height: 150px;
          background-color: #8c76df;
        }

        &.small-box {
          width: 22%;
          display: flex;
          flex-direction: column;
          height: 160px;
          gap: 12px;
          &:nth-child(1) {
            background-color: #769edf;
          }
          &:nth-child(2) {
            background-color: #a6c9e2;
          }
          &:nth-child(3) {
            background-color: #767fdf;
          }
          &:nth-child(4) {
            background-color: #ac76df;
          }
        }
      }
      .slide-text {
        font-size: 24px !important ;
        color: #452c63;
        font-weight: bold;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
    }
  }
}
