.DataReadingContainer {
    width: 100%;
    background-color: #452c63;
    margin-bottom: 40px;
  
    .DataReadingTitle{
      padding: 25px 0;
      text-align: center;
      color: #ffffff;
    }
  }
  