@import "../../styles/responsive.scss";
.DataReadingComp-Container {
  width: 100%;
  position: relative;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 50px 50px 0 0;
  .Data-Reading-Container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin: 25px auto;
    @include responsive($tablet){
      width: 62%;
    }
    .chartContainer {
      width: 100%;
      .chartTile {
        color: #333;
        padding: 25px 0;
        text-align: center;
      }
      .chartPart {
        width: 100%;
        height: 250px;
        display: block;
        align-self: center;
        justify-self: center;
        canvas{
          width: 60% !important;
          margin: 0 auto;
        }
      }
      .Pie-Chart {
        width: 100%;
        height: 300px;
      }
      .chartDescription {
        margin-top: 15px;
        text-align: center;
      }
    }
  }
  .backToGuidanceBtn {
    background: none;
    border: none;
    margin: 20px auto 0;
    padding: 5px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background-color: #452c63;
    align-self: self-end;
    display: block;
    width: 50%;
    margin: 20px auto 0;
    padding: 12px;
    cursor: pointer;
    @include responsive($tablet){
      width:25%;
      color: #fff;
    }
    a {
      text-decoration: none;
      color: white;
    }
  }
  .TrainingInranChart {
    height: 100% !important;
  }
}
