// Container
.menu-container {
  position: relative;
  width: 100%;
  .menu-header {
    display: flex;
    padding: 10px;
    // padding: 0 10px;
    // margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .menu-toggle {
      font-weight: bold;
      color: #e55604;
      background: none;
      border: none;
      margin-right: 10px;
      cursor: pointer;
      font-size: 1rem;
    }
    h3{
      color: rgb(83, 81, 81);
    }
    .searchBox {
      // width: 70%;
      display: flex;
      justify-content: center;
      .menu-search-input {
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        // width: 70%;
        &:focus {
          outline: none;
          border-color: #e63946;
        }
      }
      button {
        // border-radius: 0.5rem;
        border: 0;
        background: 0;
        // padding: 5px 20px;
        border-right: none;
        // border: 1px solid #ccc;
        // width: 20%;
        svg {
          font-size: 22px;
          font-weight: bold;
        }
      }
    }
    .logo {
      width: 15%;
      img {
        width: 100%;
      }
    }
  }

  .menu-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    z-index: 50;
    overflow: hidden;

    .menu-list {
      list-style: none;
      padding: 0;
      margin: 0;

      .menu-item {
        display: flex;
        align-items: center;
        color: #e63946;
        font-size: 1rem;
        padding: 0.75rem 1rem;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
          background-color: #f7f7f7;
        }

        .menu-item-icon {
          margin-left: 0.5rem;
        }
      }
    }
  }
}
