@import "../../styles/responsive.scss";

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  height: 90%;
  padding: 20px;
  position: relative;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  border-radius: 50px 50px 0 0;
  padding: 40px 0;
  @include responsive($tablet) {
    border-radius: 0;
  }

  .category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 16px;
    width: 90%;
    @include responsive($tablet) {
      grid-template-columns: 33% 33% 33%;
      width: 62%;
      flex-direction: column;
      flex-wrap: nowrap;
      margin: 20px auto 0;
    }

    .category-card {
      padding: 15px;
      text-align: center;
      display: flex;
      flex-direction: column;
      border-radius: 10px;
      background-color: #c1d3fe;
      cursor: pointer;
      transition: background 0.4s ease; // اصلاح typo: "0.4sease" به "0.4s ease"
      position: relative;
      text-shadow: 0px -2px 14px rgba(69, 44, 99, 0.6);
      color: #452c63;
      align-items: center;
      justify-content: center;

      &:hover {
        background: #abc4ff;
      }

      &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
        background-color: #d3d3d3; // رنگ خاکستری برای حالت غیرفعال
        &:hover {
          background: #d3d3d3; // جلوگیری از تغییر رنگ در هاور
        }
      }

      .category-title {
        font-weight: bold;
      }

      .selected-option {
        font-size: 14px;
        color: #8686bd;
        margin-top: 5px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        gap: 5px;

        .clear-btn {
          background: none;
          border: none;
          color: red;
          font-size: 12px;
          cursor: pointer;
          transition: color 0.3s ease;

          &:hover {
            color: darkred;
          }
        }
      }

      .tooltip {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #452c63; // استفاده از رنگ اصلی پروژه
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 12px;
        white-space: nowrap;
        z-index: 10;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        &:after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 50%;
          transform: translateX(-50%);
          border-width: 5px 5px 0;
          border-style: solid;
          border-color: #452c63 transparent transparent transparent;
        }
      }
    }
  }

  .showReportBtn {
    align-self: self-end;
    display: block;
    width: 50%;
    margin: 20px auto 0;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background-color: #452c63;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: #33006f;
    }
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
    @include responsive($tablet) {
      width: 30%;
      // right: unset;
      // left: -100%;
      // transition: left 0.4s ease-in-out;
    }

    &.open {
      right: 0;
      @include responsive($tablet) {
        // right: unset;
        // left: 0;
      }
    }

    .close-btn {
      position: absolute;
      top: 15px;
      left: 15px;
      background: none;
      border: none;
      font-size: 24px;
      cursor: pointer;
      transition: all 0.2s ease;
      @include responsive($tablet) {
        // left: unset;
        // right: 25px;
      }
      &:hover {
            color: #ff0000;
          }
    }

    h2 {
      margin-top: 40px;
      font-size: 24px;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
          background: #f0f0f0;
        }
      }
    }
  }
}
